<% extends("layout.html") %>

<h1>✏️: <small><% title %></small></h1>

<p>Created at: <% created_at %></p>

<% if (deleted_at) { %>
    <p>Deleted at: <% deleted_at %></p>
<% } %>

<a href="/blog/<% slug %>">🌐</a> <% if (deleted_at === null) { %> <a href="/admin/blog/<% slug %>/delete">❌</a><% } else { %><a href="/admin/blog/<% slug %>/rescue">🛟</a><% } %> <br />

<label for="title">🪧</label><input id="title" type="text" name="title" value="<% title %>" width="100%" />
<label for="draft">📝</label><input id="draft" type="checkbox" <% if (draft) { %>checked<% } %> />
<input hidden id="slug" type="text" name="slug" value="<% slug %>" />

<textarea id="editor" name="content" rows="20" cols="80"><% content %></textarea>

<button id="submit" type="button">💾</button> 

<script type="module" src="/static/editblog.js"></script>