<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><% title %></title>
        <link rel="stylesheet" href="/static/xess.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body id="top">
        <main>
            <nav><a href="/">/</a> - <a href="/blog">Blog</a></nav>

            <% yield %>

            <footer>
                <small><p>Lovingly powered by <a href="https://github.com/Xe/xn--g28h">😂</a>.</p></small>
            </footer>
        </main>
    </body>
</html>