<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><% title %></title>
        <link rel="stylesheet" href="/static/xess.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body id="top">
        <main>
            <nav><a href="/">🏠</a> - <a href="/blog">📄</a></nav>

            <% yield %>

            <footer>
                <large><p>❤️💪🏻<a href="https://github.com/Xe/xn--g28h">😂</a></p></large>
            </footer>
        </main>
    </body>
</html>